In [45]:
import math
import statistics
import numpy as np
import scipy.stats
import pandas as pd

In [54]:
df1 = pd.read_csv('otpusk.csv')
type(df1)
print(df1)

        Отметка времени   Country            Город Дата начала Дата окончания  \
0   28.06.2022 15:28:15   Россия       Новосибирск  23.06.2022     14.07.2022
1   28.06.2022 15:29:08       США         Нью-Йорк  25.08.2022     16.09.2022
2   28.06.2022 15:31:42  Германия           Берлин  09.11.2022     01.12.2022
3   28.06.2022 15:32:45   Франция            Париж  04.08.2022     13.08.2022
4   28.06.2022 15:33:55     Китай            Пекин  08.07.2022     31.08.2022
5   28.06.2022 15:34:26    Япония            Токио  10.11.2022     30.11.2022
6   28.06.2022 15:35:02    Англия           Лондон  01.07.2022     08.07.2022
7   28.06.2022 15:37:10       США           Чикаго  01.01.2023     01.02.2023
8   28.06.2022 15:40:42   Испания           Мадрид  30.06.2022     09.07.2022
9   28.06.2022 15:43:40    Россия  Санкт-Петербург  01.07.2022     04.07.2022
10  28.06.2022 15:44:03    Россия      Новосибирск  14.09.2022     07.10.2022
11  28.06.2022 15:44:33    Россия  Санкт-Петербург  31.08.2022     10.09.2022
12  28.06.2022 15:45:04    Россия             Сочи  24.11.2022     29.11.2022
13  28.06.2022 15:46:01    Россия           Казань  11.10.2022     20.10.2022

    Планируемый бюджет  Стоимость билетов  Стоимость отеля  Траты на отдыхе  \
0                40000               8000            22000            10000
1               100000              20000            45000            35000
2                90000              15000            34000            41000
3                75000              15000            30000            39000
4               130000              13000            50000            60000
5                95000              20000            40000            40000
6                50000              15000            18000            30000
7               120000              23000            45000            40000
8               110000              18000            44000            50000
9                25000               5000             9000            10000
10               35000               8000            13000            14000
11               39000               5000            19000            13000
12               28000              10000            10000            10000
13               50000              13000            23000            20000

    Общая оценка отпуска по шкале от 1 до 5  \
0                                         5
1                                         3
2                                         2
3                                         4
4                                         2
5                                         3
6                                         5
7                                         1
8                                         2
9                                         4
10                                        2
11                                        5
12                                        4
13                                        5

    Столбец с итоговой стоимостью отпуска  \
0                                   40000
1                                  100000
2                                   90000
3                                   84000
4                                  123000
5                                  100000
6                                   63000
7                                  108000
8                                  112000
9                                   24000
10                                  35000
11                                  37000
12                                  30000
13                                  56000

    Отклонение итоговой стоимости от плана Стоимость одного дня отпуска  \
0                                        0                  1904,761905
1                                        0                  4545,454545
2                                        0                  4090,909091
3                                    -9000                  9333,333333
4                                     7000                  2277,777778
5                                    -5000                         5000
6                                   -13000                         9000
7                                    12000                  3483,870968
8                                    -2000                  12444,44444
9                                     1000                         8000
10                                       0                   1521,73913
11                                    2000                         3700
12                                   -2000                         6000
13                                   -6000                  6222,222222

    Количество дней           City
0                21    Novosibirsk
1                22       New York
2                22         Berlin
3                 9          Paris
4                54         Peking
5                20          Tokyo
6                 7         London
7                31        Chicago
8                 9         Madrid
9                 3  St Petersburg
10               23    Novosibirsk
11               10  St Petersburg
12                5          Soti
13                9          Kazan

In [55]:
df2 = pd.read_csv('popul.csv')
type(df2)
print(df2)
print(type(df2))

             name  population
0          Berlin     3386667
1         Chicago     2896016
2           Kazan     1101000
3          London     7285000
4          Madrid     2879052
5        New York     8008278
6     Novosibirsk     1398800
7           Paris     2125246
8          Peking     7472000
9           Soti      358600
10  St Petersburg     4694000
11          Tokyo     7980230
<class 'pandas.core.frame.DataFrame'>

In [56]:
df3 = pd.merge(df1, df2, left_on = 'City', right_on = 'name')
print(df3)

        Отметка времени   Country            Город Дата начала Дата окончания  \
0   28.06.2022 15:28:15   Россия       Новосибирск  23.06.2022     14.07.2022
1   28.06.2022 15:44:03    Россия      Новосибирск  14.09.2022     07.10.2022
2   28.06.2022 15:29:08       США         Нью-Йорк  25.08.2022     16.09.2022
3   28.06.2022 15:31:42  Германия           Берлин  09.11.2022     01.12.2022
4   28.06.2022 15:32:45   Франция            Париж  04.08.2022     13.08.2022
5   28.06.2022 15:33:55     Китай            Пекин  08.07.2022     31.08.2022
6   28.06.2022 15:34:26    Япония            Токио  10.11.2022     30.11.2022
7   28.06.2022 15:35:02    Англия           Лондон  01.07.2022     08.07.2022
8   28.06.2022 15:37:10       США           Чикаго  01.01.2023     01.02.2023
9   28.06.2022 15:40:42   Испания           Мадрид  30.06.2022     09.07.2022
10  28.06.2022 15:43:40    Россия  Санкт-Петербург  01.07.2022     04.07.2022
11  28.06.2022 15:44:33    Россия  Санкт-Петербург  31.08.2022     10.09.2022
12  28.06.2022 15:45:04    Россия             Сочи  24.11.2022     29.11.2022
13  28.06.2022 15:46:01    Россия           Казань  11.10.2022     20.10.2022

    Планируемый бюджет  Стоимость билетов  Стоимость отеля  Траты на отдыхе  \
0                40000               8000            22000            10000
1                35000               8000            13000            14000
2               100000              20000            45000            35000
3                90000              15000            34000            41000
4                75000              15000            30000            39000
5               130000              13000            50000            60000
6                95000              20000            40000            40000
7                50000              15000            18000            30000
8               120000              23000            45000            40000
9               110000              18000            44000            50000
10               25000               5000             9000            10000
11               39000               5000            19000            13000
12               28000              10000            10000            10000
13               50000              13000            23000            20000

    Общая оценка отпуска по шкале от 1 до 5  \
0                                         5
1                                         2
2                                         3
3                                         2
4                                         4
5                                         2
6                                         3
7                                         5
8                                         1
9                                         2
10                                        4
11                                        5
12                                        4
13                                        5

    Столбец с итоговой стоимостью отпуска  \
0                                   40000
1                                   35000
2                                  100000
3                                   90000
4                                   84000
5                                  123000
6                                  100000
7                                   63000
8                                  108000
9                                  112000
10                                  24000
11                                  37000
12                                  30000
13                                  56000

    Отклонение итоговой стоимости от плана Стоимость одного дня отпуска  \
0                                        0                  1904,761905
1                                        0                   1521,73913
2                                        0                  4545,454545
3                                        0                  4090,909091
4                                    -9000                  9333,333333
5                                     7000                  2277,777778
6                                    -5000                         5000
7                                   -13000                         9000
8                                    12000                  3483,870968
9                                    -2000                  12444,44444
10                                    1000                         8000
11                                    2000                         3700
12                                   -2000                         6000
13                                   -6000                  6222,222222

    Количество дней           City           name  population
0                21    Novosibirsk    Novosibirsk     1398800
1                23    Novosibirsk    Novosibirsk     1398800
2                22       New York       New York     8008278
3                22         Berlin         Berlin     3386667
4                 9          Paris          Paris     2125246
5                54         Peking         Peking     7472000
6                20          Tokyo          Tokyo     7980230
7                 7         London         London     7285000
8                31        Chicago        Chicago     2896016
9                 9         Madrid         Madrid     2879052
10                3  St Petersburg  St Petersburg     4694000
11               10  St Petersburg  St Petersburg     4694000
12                5          Soti          Soti      358600
13                9          Kazan          Kazan     1101000

In [57]:
print(df3)

        Отметка времени   Country            Город Дата начала Дата окончания  \
0   28.06.2022 15:28:15   Россия       Новосибирск  23.06.2022     14.07.2022
1   28.06.2022 15:44:03    Россия      Новосибирск  14.09.2022     07.10.2022
2   28.06.2022 15:29:08       США         Нью-Йорк  25.08.2022     16.09.2022
3   28.06.2022 15:31:42  Германия           Берлин  09.11.2022     01.12.2022
4   28.06.2022 15:32:45   Франция            Париж  04.08.2022     13.08.2022
5   28.06.2022 15:33:55     Китай            Пекин  08.07.2022     31.08.2022
6   28.06.2022 15:34:26    Япония            Токио  10.11.2022     30.11.2022
7   28.06.2022 15:35:02    Англия           Лондон  01.07.2022     08.07.2022
8   28.06.2022 15:37:10       США           Чикаго  01.01.2023     01.02.2023
9   28.06.2022 15:40:42   Испания           Мадрид  30.06.2022     09.07.2022
10  28.06.2022 15:43:40    Россия  Санкт-Петербург  01.07.2022     04.07.2022
11  28.06.2022 15:44:33    Россия  Санкт-Петербург  31.08.2022     10.09.2022
12  28.06.2022 15:45:04    Россия             Сочи  24.11.2022     29.11.2022
13  28.06.2022 15:46:01    Россия           Казань  11.10.2022     20.10.2022

    Планируемый бюджет  Стоимость билетов  Стоимость отеля  Траты на отдыхе  \
0                40000               8000            22000            10000
1                35000               8000            13000            14000
2               100000              20000            45000            35000
3                90000              15000            34000            41000
4                75000              15000            30000            39000
5               130000              13000            50000            60000
6                95000              20000            40000            40000
7                50000              15000            18000            30000
8               120000              23000            45000            40000
9               110000              18000            44000            50000
10               25000               5000             9000            10000
11               39000               5000            19000            13000
12               28000              10000            10000            10000
13               50000              13000            23000            20000

    Общая оценка отпуска по шкале от 1 до 5  \
0                                         5
1                                         2
2                                         3
3                                         2
4                                         4
5                                         2
6                                         3
7                                         5
8                                         1
9                                         2
10                                        4
11                                        5
12                                        4
13                                        5

    Столбец с итоговой стоимостью отпуска  \
0                                   40000
1                                   35000
2                                  100000
3                                   90000
4                                   84000
5                                  123000
6                                  100000
7                                   63000
8                                  108000
9                                  112000
10                                  24000
11                                  37000
12                                  30000
13                                  56000

    Отклонение итоговой стоимости от плана Стоимость одного дня отпуска  \
0                                        0                  1904,761905
1                                        0                   1521,73913
2                                        0                  4545,454545
3                                        0                  4090,909091
4                                    -9000                  9333,333333
5                                     7000                  2277,777778
6                                    -5000                         5000
7                                   -13000                         9000
8                                    12000                  3483,870968
9                                    -2000                  12444,44444
10                                    1000                         8000
11                                    2000                         3700
12                                   -2000                         6000
13                                   -6000                  6222,222222

    Количество дней           City           name  population
0                21    Novosibirsk    Novosibirsk     1398800
1                23    Novosibirsk    Novosibirsk     1398800
2                22       New York       New York     8008278
3                22         Berlin         Berlin     3386667
4                 9          Paris          Paris     2125246
5                54         Peking         Peking     7472000
6                20          Tokyo          Tokyo     7980230
7                 7         London         London     7285000
8                31        Chicago        Chicago     2896016
9                 9         Madrid         Madrid     2879052
10                3  St Petersburg  St Petersburg     4694000
11               10  St Petersburg  St Petersburg     4694000
12                5          Soti          Soti      358600
13                9          Kazan          Kazan     1101000

In [58]:
df3.pop('name')
print(df3)
print(type(df3))

        Отметка времени   Country            Город Дата начала Дата окончания  \
0   28.06.2022 15:28:15   Россия       Новосибирск  23.06.2022     14.07.2022
1   28.06.2022 15:44:03    Россия      Новосибирск  14.09.2022     07.10.2022
2   28.06.2022 15:29:08       США         Нью-Йорк  25.08.2022     16.09.2022
3   28.06.2022 15:31:42  Германия           Берлин  09.11.2022     01.12.2022
4   28.06.2022 15:32:45   Франция            Париж  04.08.2022     13.08.2022
5   28.06.2022 15:33:55     Китай            Пекин  08.07.2022     31.08.2022
6   28.06.2022 15:34:26    Япония            Токио  10.11.2022     30.11.2022
7   28.06.2022 15:35:02    Англия           Лондон  01.07.2022     08.07.2022
8   28.06.2022 15:37:10       США           Чикаго  01.01.2023     01.02.2023
9   28.06.2022 15:40:42   Испания           Мадрид  30.06.2022     09.07.2022
10  28.06.2022 15:43:40    Россия  Санкт-Петербург  01.07.2022     04.07.2022
11  28.06.2022 15:44:33    Россия  Санкт-Петербург  31.08.2022     10.09.2022
12  28.06.2022 15:45:04    Россия             Сочи  24.11.2022     29.11.2022
13  28.06.2022 15:46:01    Россия           Казань  11.10.2022     20.10.2022

    Планируемый бюджет  Стоимость билетов  Стоимость отеля  Траты на отдыхе  \
0                40000               8000            22000            10000
1                35000               8000            13000            14000
2               100000              20000            45000            35000
3                90000              15000            34000            41000
4                75000              15000            30000            39000
5               130000              13000            50000            60000
6                95000              20000            40000            40000
7                50000              15000            18000            30000
8               120000              23000            45000            40000
9               110000              18000            44000            50000
10               25000               5000             9000            10000
11               39000               5000            19000            13000
12               28000              10000            10000            10000
13               50000              13000            23000            20000

    Общая оценка отпуска по шкале от 1 до 5  \
0                                         5
1                                         2
2                                         3
3                                         2
4                                         4
5                                         2
6                                         3
7                                         5
8                                         1
9                                         2
10                                        4
11                                        5
12                                        4
13                                        5

    Столбец с итоговой стоимостью отпуска  \
0                                   40000
1                                   35000
2                                  100000
3                                   90000
4                                   84000
5                                  123000
6                                  100000
7                                   63000
8                                  108000
9                                  112000
10                                  24000
11                                  37000
12                                  30000
13                                  56000

    Отклонение итоговой стоимости от плана Стоимость одного дня отпуска  \
0                                        0                  1904,761905
1                                        0                   1521,73913
2                                        0                  4545,454545
3                                        0                  4090,909091
4                                    -9000                  9333,333333
5                                     7000                  2277,777778
6                                    -5000                         5000
7                                   -13000                         9000
8                                    12000                  3483,870968
9                                    -2000                  12444,44444
10                                    1000                         8000
11                                    2000                         3700
12                                   -2000                         6000
13                                   -6000                  6222,222222

    Количество дней           City  population
0                21    Novosibirsk     1398800
1                23    Novosibirsk     1398800
2                22       New York     8008278
3                22         Berlin     3386667
4                 9          Paris     2125246
5                54         Peking     7472000
6                20          Tokyo     7980230
7                 7         London     7285000
8                31        Chicago     2896016
9                 9         Madrid     2879052
10                3  St Petersburg     4694000
11               10  St Petersburg     4694000
12                5          Soti      358600
13                9          Kazan     1101000
<class 'pandas.core.frame.DataFrame'>

In [60]:
df3.sort_values(by='Country', ascending=True)

,Отметка времени,Country,Город,Дата начала,Дата окончания,Планируемый бюджет,Стоимость билетов,Стоимость отеля,Траты на отдыхе,Общая оценка отпуска по шкале от 1 до 5,Столбец с итоговой стоимостью отпуска,Отклонение итоговой стоимости от плана,Стоимость одного дня отпуска,Количество дней,City,population
7,28.06.2022 15:35:02,Англия,Лондон,01.07.2022,08.07.2022,50000,15000,18000,30000,5,63000,-13000,9000,7,London,7285000
3,28.06.2022 15:31:42,Германия,Берлин,09.11.2022,01.12.2022,90000,15000,34000,41000,2,90000,0,"4090,909091",22,Berlin,3386667
9,28.06.2022 15:40:42,Испания,Мадрид,30.06.2022,09.07.2022,110000,18000,44000,50000,2,112000,-2000,"12444,44444",9,Madrid,2879052
5,28.06.2022 15:33:55,Китай,Пекин,08.07.2022,31.08.2022,130000,13000,50000,60000,2,123000,7000,"2277,777778",54,Peking,7472000
1,28.06.2022 15:44:03,Россия,Новосибирск,14.09.2022,07.10.2022,35000,8000,13000,14000,2,35000,0,"1521,73913",23,Novosibirsk,1398800
10,28.06.2022 15:43:40,Россия,Санкт-Петербург,01.07.2022,04.07.2022,25000,5000,9000,10000,4,24000,1000,8000,3,St Petersburg,4694000
11,28.06.2022 15:44:33,Россия,Санкт-Петербург,31.08.2022,10.09.2022,39000,5000,19000,13000,5,37000,2000,3700,10,St Petersburg,4694000
12,28.06.2022 15:45:04,Россия,Сочи,24.11.2022,29.11.2022,28000,10000,10000,10000,4,30000,-2000,6000,5,Soti,358600
13,28.06.2022 15:46:01,Россия,Казань,11.10.2022,20.10.2022,50000,13000,23000,20000,5,56000,-6000,"6222,222222",9,Kazan,1101000
0,28.06.2022 15:28:15,Россия,Новосибирск,23.06.2022,14.07.2022,40000,8000,22000,10000,5,40000,0,"1904,761905",21,Novosibirsk,1398800
2,28.06.2022 15:29:08,США,Нью-Йорк,25.08.2022,16.09.2022,100000,20000,45000,35000,3,100000,0,"4545,454545",22,New York,8008278
8,28.06.2022 15:37:10,США,Чикаго,01.01.2023,01.02.2023,120000,23000,45000,40000,1,108000,12000,"3483,870968",31,Chicago,2896016
4,28.06.2022 15:32:45,Франция,Париж,04.08.2022,13.08.2022,75000,15000,30000,39000,4,84000,-9000,"9333,333333",9,Paris,2125246
6,28.06.2022 15:34:26,Япония,Токио,10.11.2022,30.11.2022,95000,20000,40000,40000,3,100000,-5000,5000,20,Tokyo,7980230

In [68]:
sred = df3.population.mean()
print('\nСреднее количество наcеления\n')
print(round(sred, 0))

Среднее количество наcеления

3976978.0